#box {
  height: 300px;
}

.btn-disabled {
  background-color: transparent !important; 
  color: rgba(0, 0, 255, 0) !important; 
  border-color: rgba(0, 0, 255, 0) !important;
  border-style: solid;
}

.bg-control {
  background-color: #424040e7;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* Sombra para dar profundidade */
}

table tbody td {
  cursor: pointer;
}

.velocimetro {
  position: relative;
  width: 200px;
  height: 100px; /* Metade da largura para ser semicírculo */
  overflow: hidden;
}

.arco {
  position: absolute;
  width: 100%;
  height: 200%; /* Dobro da altura do container */
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    red 0deg,
    yellow 90deg,
    green 180deg
  );
  box-sizing: border-box;
}

.ponteiro {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 4px;
  height: 80%;
  background: black;
  transform-origin: bottom center; /* Rotaciona pela base */
  transition: transform 0.5s ease;
  border-radius: 2px;
}

.velocidade {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}


@media (min-width: 700px) {
  #box {
    height: 900px;
  }
}

/* Exemplo: Estilos aplicados quando a tela tem 768px ou menos */
@media screen and (max-width: 768px) {
  html, body {
    max-width: 100%;
    height: auto;
    overflow-x: hidden !important;
  }
  
  #box {
    height: auto;
  }
}